*{
    margin: 0;
    padding: 0;
}
body{
    
    /* font-family: sans-serif; */
    width: 100%;
    height: auto;
    background-image: url("../image/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.nary, .girl1, .girl2, .girl3{
    border-radius: 50%;
}


/* home */
.home{
    height: 120vh;
}
.menuBit{
  background-color: rgba(82, 207, 149, 0.3);
  font-family: 'Josefin Sans', sans-serif;

}
#color{
  background-color: #ff5700;
}
.contentHome{
  width: 100%;
  height: 500px;
  margin: 0px;
  text-transform: uppercase;
  position: fixed;
  top: 0%; 
  /* overflow: hidden; */
  /* background-color: #333;  */
}
/* .content1{
  display: flex;
  margin-top: 100px;
} */
ul{
  padding: 30px;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
 
  /* padding: 240px;    */
}
ul li{
  list-style: none;
}
ul li a{
  text-decoration: none;
  padding: 10px;
}
ul li a:hover{
  color: #000;
}
li{
  padding-left: 50px;
}

.content1{
  width: 30%;
  margin-left: 5%;
  text-align: center;
  display: grid;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-weight: bolder;
  /* text-transform: uppercase; */
  font-size: 50px;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
}
.backgroundBit{
  background-color: rgb(59, 129, 175,0.3);
  margin-top: 100px;
  padding: 50px;
}
.content1 h1,h3,h4{
  margin: 20px;
  
}

/* resume */
.resume{
  height: 120vh;
  display: flex;
  /* margin-top: 100px; */
}

.bground{
  width: 600px;
  height: 600px;
  margin-top: 100px;
}  
.nary{
  margin-top: 150px;
  margin-left: -490px;
}
.nary img{
  border-radius: 50%;
}
.nary h3{
  font-size: 35px;
}
/* project */
.project{
    height: 120vh;
}
.photo3{
    margin-top: 200px;
}


/* contact */
.contact{
    /* margin-top: 100px; */
    height: 120vh;
}
.contentContact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.container{
    width: 35%;
    /* margin-left: 100px; */
    display: flex;
    background-color: rgb(80, 78, 79);
    height: 70vh;
}  
form{
  margin-left: 50px;
  width: 100%;
  font-size: 30px;
}
input{
  width: 95%;
}
input[type="text"],input[type="email"],input[type="text"],input[type="submit"]{
    
    padding: 25px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type="submit"]{
  background: rgb(91, 158, 89);
}
textarea{
  width: 95%;
}   


/* map */
.map{
    width: auto;
    margin-top: 300px;
    margin-left: 100px;
    height: 100vh;
    
}
iframe{
  width: 800px;
  height: 70%;
  border-radius: 50%;
}
/* app */
.app{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-skype {
    background: #00aff0;
    color: white;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10%; 
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-reddit {
    background: #ff5700;
    color: white;
  }
  .sky{
      border-radius: 20px;
      background:#E6E6FA;
      color:#2F4F4F;
      height: 40px;
      width: 220px;
      font-size: 20px;
  }
  .sky:hover{
      cursor: pointer;
      background:	#C71585;
      color:#FFFF00;
  }
  .text1{
      margin-left: 60px;
  }
  /* footer */
  footer{
      margin-top: 115px;
      height: 20vh;
      background-color: gray;
  }




  
  
  
  
  

  




